
nav {
  margin-left: 70px;
  display: inline;
}
div {
  margin-left: 100px;
}
main {
  margin-left: 100px;
  padding: 30px
}

article img {
  margin-left: 100px;
  margin-right: 20px;
  float: left;
}
p  {
  width: 58%;
  margin-left: 20px;
}

p img {
  margin-top: 20px;
  padding: 10px;
}
footer img {
  display: inline-block;
  margin-left: 70px;
}